@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --bg-color: hsl(212, 45%, 89%);
  --card-bg-color: hsl(0, 0%, 100%);
  --primary-color: hsl(218, 44%, 22%);
  --secondary-color: hsl(220, 15%, 55%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
}

body {
  background: var(--bg-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: var(--card-bg-color);
  max-width: 320px;
  border-radius: 1.35rem;
  text-align: center;
  padding: 1rem;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 0.75rem;
}

.card h1 {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin: 2rem 1rem 0.5rem;
}

.card p {
  color: var(--secondary-color);
  margin: 1rem 1rem 2rem;
}
